:root {
 --white: #FFFFFF;
 --white-1: #ECECEC;
 --blue: #0385FD;
 --green: #00CC99;
 --black: #000000;
 --red: #C90808;
 --light-gray: #D6D6D6;
 --very-light-gray: #D9D9D9;
 --dark-gray: #5C5C5C;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body, button, input, textarea {
 background: linear-gradient(90deg, #ECECEC 0%, #FFFFFF 14.58%);
 font-family: 'Poppins', sans-serif;
 font-weight: 400;
 font-size: 1rem;
}
